input {
    width: -webkit-fill-available;
    font-family: 'Inter';
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: #000000de;
    background-color: white;
    font-size: 0.95em;
    font-weight: 500;
}

input::placeholder {
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(200, 200, 200);
}

input:focus-visible {
    outline: 0 !important;
}

select {
    width: -webkit-fill-available;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

textarea {
    width: -webkit-fill-available;
    height: 95px;
    font-family: 'Inter';
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    color: #000000de;
    font-size: 0.95em;
    font-weight: 500;
    resize: none;
    overflow: auto;
}

textarea::placeholder {
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(200, 200, 200);
}

textarea:focus-visible {
    outline: 0 !important;
}

.addTask-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.addTask-form {
    height: 50vh;
    width: 100%;
    display: flex;
}

.addTask-form-left-container {
    height: 100%;
    width: 50%;
    border-right: 1px solid lightgrey;
    padding-right: 6%;
}

.addTask-form-right-container {
    height: 100%;
    width: 50%;
    padding-left: 6%;
}

.addTask-prio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 21px;
    width: 21px;
}

.prio-img {
    margin-left: 8px;
    height: 12px;
    width: 16px;
}

.prio {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid rgb(236, 236, 236);
    background-color: white;
    font-size: 1em;
    cursor: pointer;
}

.prio:hover {
    border: 1px solid white;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.img-brightening {
    filter: brightness(0) invert(1);
}

.red-highlight {
    background-color: #ff3d00 !important;
    border: 0 !important;
    color: white !important;
}

.yellow-highlight {
    background-color: #ffa800 !important;
    border: 0 !important;
    color: white !important;
}

.green-highlight {
    background-color: #7ae229 !important;
    border: 0 !important;
    color: white !important;
}

.addTask-commit-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 21px;
    margin-top: 35px;
}

.addTask-commit-buttons button {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid #2a3647;
    background-color: white;
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 59, 0.8);
    cursor: pointer;
}

.submit-btn {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid #2a3647;
    background-color: white;
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 59, 0.8);
    cursor: pointer;
    background-color: #2a3647 !important;
    color: white !important;
}

.submit-btn:hover {
    background-color: #29abe2 !important;
    border: 1px solid transparent;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.addTask-clear-btn:hover {
    border: 1px solid #29abe2;
    color: #29abe2;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.addTask-subtask-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    font-size: 0.8em;
    gap: 8px;
}

.subtask-plus-icon {
    position: absolute;
    filter: contrast(2);
    right: 10px;
    top: 12px;
    height: 16px;
    width: 16px;
}

.subtask-checkbox {
    height: 15px !important;
    width: 15px !important;
}

select {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 16px top 1em, right 10px top 1em;
    background-size: 6px 6px, 6px 6px;
}

.popup-container {
    height: 85%;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    padding: 65px;
    position: relative;
}

.popup-task {
    height: 85%;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    margin-left: 232px;
    padding: 65px;
    padding-top: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.back-btn {
    position: absolute;
    z-index: 77;
    top: 35px;
    right: 35px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}

.dropdown {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    display: inline-block;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 16px top 1em, right 10px top 1em;
    background-size: 6px 6px, 6px 6px;
}

.category-selection {
    width: 100%;
    max-height: 146px;
    background-color: white;
    display: none;
    flex-direction: column;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid lightgrey;
    border-top: 0;
    overflow-x: hidden;
    overflow: auto;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}

label:hover {
    background-color: lightgrey;
}

label span {
    width: 90%;
    margin-left: 11px;
}

label input {
    width: auto;
    margin-right: 8px;
}

.addTask-category-label {
    justify-content: flex-start !important;
}

.addTask-category-label span {
    width: auto !important;
}

.addTask-category-dot {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
}

.selection-border-align {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
}

.addTask-new-contact-img {
    height: 22px;
    width: 22px;
    margin-right: 4px;
}

.grey-text {
    cursor: default;
    background: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-category-icon {
    height: 20px;
    width: 20px;
    filter: brightness(0);
}

.resize-icon {
    height: 14px !important;
    width: 14px !important;
    rotate: 45deg;
    margin-right: 3px;
}

.create-cat-icon-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.gap-line {
    width: 1px;
    height: 26px;
    background-color: lightgrey;
}

.new-cat-input {
    border: 0;
    padding: 0;
}

.new-cat-color-select-box {
    display: flex;
    padding-top: 12px;
    padding-left: 8px;
    gap: 4px;
}

.dot-hover:hover {
    border: 1px solid black;
    box-shadow: 1px 4px 3px -1px rgba(0, 0, 0, 0.2), -1px 4px 3px -1px rgba(0, 0, 0, 0.2);
}

.color-dot-bg {
    border: 1px solid black;
    box-shadow: 1px 4px 3px -1px rgba(0, 0, 0, 0.2), -1px 4px 3px -1px rgba(0, 0, 0, 0.2);
}

.added-client-style {
    margin-top: 8px;
    margin-right: 7px;
    margin-left: 1px;
}

.added-client-style:hover {
    border: 1px solid black;
    box-shadow: 1px 5px 3px -1px rgba(0, 0, 0, 0.4), -1px 5px 3px -1px rgba(0, 0, 0, 0.3);
}