#contactsPage {
    padding-top: 89px;
    padding-left: 236px;
    padding-bottom: 0;
}

.contacts-content {
    display: flex;
}

.contacts-list {
    width: 357px;
    height: 100%;
    position: absolute;
    padding-top: 10px;
}

.contact-list-scrollable-div {
    height: 89vh;
    min-width: 450px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: sticky;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.first-letter {
    padding: 10px 37px 24px 37px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 21px;
}

.initials {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.single-contact-box {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 35px;
    transition: all 225ms ease-in-out;
    border-radius: 22px;
}

.single-contact-box:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
}

.contact-names {
    font-weight: 400;
    font-size: 21px;
}

.contact-names a {
    font-weight: 400;
    font-size: 16px;
    color: #007CEE;
}

.contact-card {
    background-color: #F6F7F8;
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 100px;
    width: 100%;
}

.contacts-headline {
    display: flex;
    align-items: center;

}

.initials-big {
    width: 120px;
    height: 120px;
    color: white;
    border-radius: 100%;
    border: 5px double white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
    margin-right: 50px;
}

#card-popup {
    margin-top: 82px;
}

.card-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
    flex-direction: column;
    gap: 13px;
}

.add-task-btn {
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.add-task-btn img {
    height: 16px;
}

.add-task-btn span:hover {
    font-weight: 700;
}

.contact-infos {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    gap: 60px;
    height: 74px;
    margin-top: 21px;
}

.contact-infos img {
    height: 30px;
}

.card-mail {
    font-size: 16px;
    gap: 15px;
}

.card-mail b {
    font-weight: 700;
}

.card-mail a {
    text-decoration: none;
    color: #29ABE2;
}

.add-contact {
    display: flex;
    position: absolute;
    padding: 15px;
    background-color: #2A3647;
    border-radius: 10px;
    bottom: 50px;
    right: 65px;
    gap: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.add-contact:hover {
    background-color: #29abe2 !important;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.created-successfully-logo {
    display: flex;
    position: absolute;
    padding: 15px;
    background-color: #2A3647;
    border-radius: 10px;
    right: 40%;
    bottom: -100px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
}

.created-successfully-logo-loginCard {
    display: flex;
    position: absolute;
    padding: 15px;
    background-color: #2A3647;
    border-radius: 10px;
    width: 30%;
    bottom: -100px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
}

.move-up {
    animation: moveUp 1s forwards;
}

.move-down {
    animation: moveDown 1s forwards;
}

@keyframes moveUp {
    from {
        bottom: -100px;
        transform: translateY(200%);
    }

    to {
        bottom: 150px;
    }
}

@keyframes moveDown {
    from {
        bottom: 150px;
    }

    to {
        bottom: -100px;
        transform: translateY(200%);
    }
}

.create-contact-bg {
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    z-index: 104;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.dark {
    animation: darkenBackground 1s forwards;
}

.light {
    animation: lightenBackground 1s forwards;
}

@keyframes darkenBackground {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@keyframes lightenBackground {
    from {
        background-color: rgba(0, 0, 0, 0.2);
    }

    to {
        background-color: rgba(0, 0, 0, 0.0);
    }
}

.contacts-popup {
    position: fixed;
    height: 566px;
    background-color: #fff;
    display: flex;
    border-radius: 29px;
    right: -90%;
}

.contacts-popup-2 {
    position: fixed;
    height: 566px;
    background-color: #fff;
    display: flex;
    border-radius: 29px;
    right: -90%;
}

.move-in {
    animation: moveIn 1.5s ease-in-out forwards;
}

.move-out {
    animation: moveOut 1.5s ease-in-out forwards;
}

@keyframes moveIn {
    from {
        right: -90%;
        transform: translateX(200%);
    }

    to {
        right: unset;
        transform: none;
    }
}

@keyframes moveOut {
    from {
        right: unset;
        transform: none;
    }

    to {
        right: -100%;
        transform: translateX(200%);
    }
}


.contacts-popup-left {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2A3647;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-popup-left img {
    height: 66px;
    object-fit: contain;
}

.contacts-popup-right {
    display: flex;
}

#add-contact {
    color: white;
    font-size: 61px;
    font-weight: 700;
}

.add-contact-form {
    width: 422px;
}

.add-contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 49px;
    padding-left: 70px;
    padding-right: 70px;
}

.add-contact-form-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 49px;
    padding-left: 70px;
    padding-right: 70px;
}

.add-contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 70px;
}

.input-icon {
    position: absolute;
    top: 7px;
    right: 17px;
}


/* kleine änderung..hab es den anderen buttons angepasst gruß Tim*/

.add-btn-container {
    gap: 21px;
    display: flex;
    align-self: flex-end;
}

#mail-icon {
    top: 10px;
}

.cancel-btn {
    display: flex;
    align-items: center;
    font-size: 21px;
    padding: 15px;
    background-color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 150ms all ease-in-out;
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid #2a3647;
    color: rgba(0, 0, 59, 0.8);
}

#create-btn {
    display: flex;
    align-items: center;
    font-size: 21px;
    padding: 15px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 150ms all ease-in-out;
    gap: 8px;
    border: 1px solid #2a3647;
    background-color: #2a3647 !important;
    color: white !important;
}

#create-btn:hover {
    background-color: #29abe2 !important;
    border: 1px solid transparent;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.cancel-btn:hover {
    border: 1px solid #29abe2;
    color: #29abe2;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.close-popup {
    position: absolute;
    height: 32px;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.bg-highlight {
    background-color: #2A3647;
    color: white;
}

.bg-highlight:hover {
    background-image: none;
    background-color: none;
}

.edit-contact {
    font-size: 16px;
}

.edit-contact:hover {
    font-weight: 700;
    color: #29ABE2;
    cursor: pointer;
}

.edit-contact-bg {
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.edit-contacts-popup-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.contacts-popup-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#initials-circle {
    margin-right: 0;
    margin-left: 25px;
}

.horizontal-line {
    width: 73px;
    border-bottom: 4px solid #29ABE2;
}

#save-btn {
    font-size: 21px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    transition: 225ms all ease-in-out;
    padding-left: 34px;
    padding-right: 34px;
}

#save-btn:hover {
    background-color: #29ABE2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.add-contact-span {
    align-items: flex-start;
    gap: 12px;
    font-size: 27px;
    color: white;
}

.close-X {
    position: fixed;
    top: 120px;
    right: 30px;
    height: 30px;
    cursor: pointer;
}

.edit-and-delete-box-2 {
    position: absolute;
    bottom: 150px;
    right: 50px;
    flex-direction: column;
    gap: 10px;
}

#delete-btn-2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#edit-btn-2 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media(max-width:1483px) {
    .contact-card {
        padding-left: 50px;
    }
}

@media(max-width:1300px) {
    #headline-span {
        font-size: 17px !important;
    }

    .card-headline {
        font-size: 32px;
    }

    .initials-big {
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .contact-infos {
        gap: 41px;
        font-size: 19px;
    }

    .contacts-popup-2 {
        width: 99%;
    }

    .contacts-popup {
        margin-left: 65px;
        margin-right: 65px;
    }
}

@media (min-width:1050px) {
    .edit-and-delete-box-2 {
        display: none !important;
    }

    .close-X {
        display: none !important;
    }
}

@media(max-width:1050px) {
    .contact-card {
        display: none;
    }

    .add-btn-container {
        margin-top: 0;
        margin-bottom: 30px;
        justify-content: center;
        align-self: normal;
        gap: 15px;
    }

    .contacts-list {
        align-items: center;
        width: 100%;
    }

    .contact-list-scrollable-div {
        height: calc(100vh - 192px);
        width: 100%;
        min-width: unset;
    }

    #contactsPage {
        padding-left: 0;
    }

    .width-500 {
        width: 90% !important;
    }

    .add-contact {
        bottom: unset;
        top: 115px;
    }

    .contacts-popup-left {
        border-bottom-left-radius: 0;
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 20px;
    }

    .contacts-popup {
        height: 100%;
        width: 100%;
        flex-direction: column;
        margin-top: 180px;
        border-radius: 0;
    }

    .contacts-popup-2 {
        margin-top: 67px;
        width: 90%;
        flex-direction: column;
        height: 88vh;
    }

    #initials-circle {
        margin-left: 0;
        margin-top: -100px;
    }

    .contacts-popup-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-popup-right-content {
        flex-direction: column;
    }

    .add-contact-img {
        padding-left: unset;
        margin-top: -56px;
    }

    #add-contact {
        font-size: 47px;
    }

    .contacts-popup-left img {
        display: none;
    }

    .contacts-popup-left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .add-contact-span {
        align-items: center;
        font-size: 21px;
    }

    .add-contact-form {
        width: 400px;
    }

    .add-contact-form-container {
        gap: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .add-contact-form-container-2 {
        gap: 30px;
        padding-top: 80px;
    }

    .close-popup {
        border-radius: 100% !important;
        background-color: #D1D1D1 !important;
    }

    .contact-card {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .create-contact-bg {
        z-index: 2;
    }
}

@media(max-width:600px) {
    .contacts-list {
        padding-top: 60px;
    }

    .add-contact {
        right: 35px;
    }
}

@media(max-width:505px) {
    .add-contact-form {
        width: 300px;
    }
    .cancel-btn {
        font-size: 14px;
    }
    #create-btn {
        font-size: 14px;
    }
}