body {
    margin: 0;
    font-family: 'Inter';
}

.loginBody {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.2);
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
    gap: 35px;
    min-width: 652px;
    height: 513px;
    left: 394px;
    top: 274px;

    /* white */

    background: #FFFFFF;
    /* shadoe backlog box */

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}


.loginHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.logoImage {
    height: 150px;
    width: 100px;
    object-fit: contain;
    margin-left: 50px;
    margin-top: 25px;
    z-index: 10;
    position: fixed;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation-name: moveLogo;
    animation-duration: 1s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}

@keyframes moveLogo {
  from {
    top: 45%;
    left: 45%;
    scale: 1.5;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0;
    left: 0;
    scale: 1;
    transform: none;
  }
}

.loginHeaderRight {
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 50px;
    margin-right: 25px;
}

.openSignUpPopupBtn {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #2A3547;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
}

.openSignUpPopupBtn:hover {
    background-color: #29ABE2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.loginHeaderQuestion {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.cardHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.loginH1 {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.underlineForH1 {
    width: 150px;
    height: 0;
    border: 3px solid #29ABE2;
}

.loginInputFields {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 422px;
}

.loginInputField:first-child {
    margin-top: 10px;
}

.loginInputField {
    position: relative;
    height: 44px;
    margin-bottom: 40px;
    width: 100%;
}

.inputImg {
    position: absolute;
    right: 8%;
    top: 40%;
}

.passwordImg {
    height: 20px;
    width: 20px;
}

.loginE-Mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    gap: 10px;
    width: 380px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.loginFooter {
    display: flex;
}

.rememberMe {
    font-size: 16px;
    margin-right: 15px !important;
}

.forgotPass {
    color: #29ABE2;
    font-size: 16px;
    margin-left: 20px !important;
}

.subheaderNewPassword {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.loginFooterBtns {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}

.loginBtn {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    background-color: #2A3547;
    padding: 10px 45px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.loginBtn:hover {
    background-color: #29ABE2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.guestBtn {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3547;
    background-color: #FFFFFF;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3547;
    margin-left: 10px;
    margin-right: 10px;
}

.guestBtn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.opacity {
    opacity: 0.5;
}

.backImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 42%;
    top: -10%;
    width: 37px;
    height: 37px;
}

.backImgSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 66%;
    top: 10%;
    width: 37px;
    height: 37px;
}

.backImgResetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 44%;
    top: 0;
    width: 37px;
    height: 37px;
}

.signupHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.signupFooterBtn {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.loginFooterLeft {
    display: flex;
}

@media (max-width: 1150px) {
    .logoImage {
        height: 100px;
        width: 70px;
    }
    .signupHeaderContainer {
        position: relative;
    }
    .loginHeaderRight {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 25px;
        width: 105%;
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 60%;
        width: 90%;
        min-width: 0;
    }
    .loginBody {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginInputFields {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .loginE-Mail {
        width: 90%;
        margin-right: 0 !important;
    }
    .loginFooter {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .cardHeaderContainer {
        margin-top: 0;
    }
    .loginBtn {
        font-size: 18px;
        padding: 10px 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .guestBtn {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
    }
    .loginFooterBtns {
        justify-content: space-evenly;
        width: 90%;
    }
    .loginH1 {
        font-size: 44px;
    }
    .rememberMe {
        font-size: 14px;
    }
    .forgotPass {
        font-size: 14px;
        margin-right: 15px !important;
    }
    .backImgSignUp {
        position: absolute;
        top: 10%;
        left: 0%;
    }

    .signUpForm {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 


    .backImgContainer {
        position: absolute;
        top: 22%;
        left: 9%;
    }
    .backImgResetContainer {
        position: absolute;
        top: 22%;
        left: 9%;
    }
}

@media (max-width: 405px) {
    .backImgSignUp {
        top: 25%;
        left: 5%;
    }
}