body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 3em;
    padding-left: 10%;
}

input {
    width: -webkit-fill-available;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 1em;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

input::placeholder {
    color: rgb(200, 200, 200);
}

select {
    width: -webkit-fill-available;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

textarea {
    width: -webkit-fill-available;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 1em;
    font-weight: 500;
}

textarea::placeholder {
    color: rgb(200, 200, 200);
}

.addTask-content {
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    background-color: rgb(250, 250, 250);
}

.addTask-form {
    height: 50%;
    width: 80%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-left: 10%;
    padding-right: 10%;
    /* gap: 12%; */
}

.addTask-form-left-container {
    height: 100%;
    width: 50%;
    border-right: 1px solid lightgrey;
    padding-right: 6%;
}

.addTask-form-right-container {
    height: 100%;
    width: 50%;
    padding-left: 6%;
}

.addTask-form-headlines {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.addTask-prio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.prio {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid rgb(236, 236, 236);
    background-color: white;
    font-size: 1em;
    font-weight: 500;
}

.prio:hover {
    border: 2px solid white;
    box-shadow:
        1px 4px 3px -1px rgba(0, 0, 0, 0.16),
        -1px 4px 3px -1px rgba(0, 0, 0, 0.16);
}

.red-highlight:active {
    background-color: red;
    border: 0;
}

.yellow-highlight:active {
    background-color: yellow;
    border: 0;
}

.green-highlight:active {
    background-color: lightgreen;
    border: 0;
}

.addTask-commit-buttons {
    width: 80%;
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 21px;
}

.addTask-commit-buttons button {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 59, 0.8);
}

.addTask-submit-btn{
    background-color: rgba(0, 0, 54, 0.8) !important;
    color: white !important;
}

.addTask-submit-btn:hover{
    background-color: rgb(71, 120, 211) !important;
}