body {    
    margin: 0;
    font-family: 'Inter';
}

.loginBody {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.2);
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 652px;
    height: 513px;
    left: 394px;
    top: 274px;

/* white */

    background: #FFFFFF;
/* shadoe backlog box */

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}


.loginHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.logoImage {
    height: 150px;
    width: 100px;
    object-fit: contain;
    margin-left: 50px;
    margin-top: 25px;
}

.loginHeaderRight {
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 50px;
    margin-right: 25px;
}

.openSignUpPopupBtn {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #2A3547;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
}

.openSignUpPopupBtn:hover {
    background-color: #29ABE2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.loginHeaderQuestion {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.cardHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginH1 {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.underlineForH1 {
    width: 150px;
    height: 0;
    border: 3px solid #29ABE2;
}

.loginInputFields {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
}

.loginInputField {
    position: relative;
    height: 44px;
    margin-bottom: 40px;
}

.inputImg {
    position: absolute;
    right: 0;
    top: 40%;
}

.passwordImg {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

.loginE-Mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    gap: 10px;
    width: 380px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}