html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
}

.p-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.a-i-center {
    align-items: center;
}

.d-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.margin {
    margin: 0;
}

.margin-left-rifht-5 {
    margin-left: 5px;
    margin-right: 5px;
}

span {
    transform: scale(1, 1.01);
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 2em;
    transform: scale(1, 1.01);
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 8px;
}

b {
    font-weight: 600;
}

.incl-cont-side {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-left: 334px;
    padding-right: 102px;
    padding-top: 164px;
    padding-bottom: 52px;
    background-color: rgba(211, 211, 211, 0.2);
}

.popup-window {
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-arrow-abs {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 23px;
    width: 26px;
    cursor: pointer;
}