<div class="addTask-content">
    <h2>Add Task</h2>
    <form class="addTask-form" onsubmit="addTask()">
        <div class="addTask-form-left-container">
            <div>
                <h4 class="addTask-form-headlines">Title</h4>
                <input placeholder="Enter a title">
            </div>
            <div>
                <h4 class="addTask-form-headlines">Description</h4>
                <textarea placeholder="Enter a description"></textarea>
            </div>
            <div>
                <h4 class="addTask-form-headlines">Category</h4>
                <select>
                    <option value="" disabled selected>Select task category</option>
                    <option>New category</option>
                    <option>Sales</option>
                    <option>Backoffice</option>
                </select>
            </div>
            <div>
                <h4 class="addTask-form-headlines">Assigned to</h4>
                <select id="addTaskAssignedContacts">
                    <option value="" disabled selected>Select contacts to assign</option>
                    <option>Kaser</option>
                    <option>Niko</option>
                    <option>Tim</option>
                </select>
            </div>
        </div>
        <div class="addTask-form-right-container">
            <div>
                <h4 class="addTask-form-headlines">Due date</h4>
                <input type="date" placeholder="dd/mm/yyyy">
            </div>
            <div>
                <h4 class="addTask-form-headlines">Prio</h4>
                <div class="addTask-prio-container">
                    <div class="prio red-highlight" onclick="true">
                        <span>Urgent</span>
                        <img src="./img/prio_urgent.png">
                    </div>
                    <div class="prio yellow-highlight" onclick="true">
                        <span>Medium</span>
                        <img src="./img/prio_medium.png" class="extra">
                    </div>
                    <div class="prio green-highlight" onclick="true">
                        <span>Low</span>
                        <img src="./img/prio_low.png">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="addTask-form-headlines">Subtasks</h4>
                <input placeholder="Add new subtask">
            </div>
            <div class="addTask-subtask-container">
                <input id="subtask1" type="checkbox" class="subtask-checkbox">
                <label for="subtask1">Subtask 1</label>
            </div>
        </div>
    </form>
    <div class="addTask-commit-buttons">
        <button class="addTask-clear-btn">Clear x</button>
        <button class="addTask-submit-btn">Create Task ✓</button>
    </div>
</div>