<div class="board-headline-container">
    <h2>Board</h2>
    <div class="board-search-and-add m-b-45">
        <div class="board-search-box">
            <span>....Search</span>
            <img class="board-headline-icon" src="./img/loupe.png">
        </div>
        <div class="submit-btn d-flex g-8 a-i-center w-150" onclick="changeSite(ADDTASK_ID)">
            <span>Add Task</span>
            <img class="board-headline-icon whiteout-icon" src="./img/plus.png">
        </div>
    </div>
</div>
<div class="board-content">
    <div class="board-section">
        <div class="board-section-category">
            <h3>To Do</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="test" id="toDo" ondrop="moveTo('toDo')" ondragover="allowDrop(event)">

        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>In Progress</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div> 
        <div class="test" id="inProgress" ondrop="moveTo('inProgress')" ondragover="allowDrop(event)">

        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>Awaiting Feedback</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="test" id="awaitFeedback" ondrop="moveTo('awaitFeedback')" ondragover="allowDrop(event)">

        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>Done</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="test" id="done" ondrop="moveTo('done')" ondragover="allowDrop(event)">

        </div>
    </div>
</div>