<div class="board-headline-container">
    <h2>Board</h2>
    <div class="board-search-and-add m-b-45">
        <div class="board-search-box">
            <span>....Search</span>
            <img class="board-headline-icon" src="./img/loupe.png">
        </div>
        <div class="submit-btn d-flex g-8 a-i-center w-150">
            <span>Add Task</span>
            <img class="board-headline-icon whiteout-icon" src="./img/plus.png">
        </div>
    </div>
</div>
<div class="board-content">
    <div class="board-section">
        <div class="board-section-category">
            <h3>To Do</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="task-box">
            <span>Sales</span>
            <span>Website Redesign</span>
            <span>Modify the contents of the main website....</span>
            <div>
                <progress></progress>
                <span>1/2 Done</span>
            </div>
            <div class="task-assignment-section">
                <div class="task-clients-container">
                    <div class="task-client">SM</div>
                    <div class="task-client m-l-negative">MV</div>
                    <div class="task-client m-l-negative">EF</div>
                </div>
                <img src="./img/prio_urgent.png" class="task-prio-icon">
            </div>
        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>In Progress</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="task-box">

        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>Awaiting Feedback</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="task-box">

        </div>
    </div>
    <div class="board-section">
        <div class="board-section-category">
            <h3>Done</h3>
            <img src="./img/plus.png" class="board-plus-icon">
        </div>
        <div class="task-box">

        </div>
    </div>
</div>