<div class="contacts-content">
    <div class="edit-contact-bg d-none" id="edit-contact-bg" onclick="closeEditContact()">
        <div class="contacts-popup-2" id="edit-contact-popup" onclick="stopPropagation(event)">
            <div class="contacts-popup-left">
                <div class="flex-column add-contact-span">
                    <img src="./img/join-for-add-contacts.png" alt="">
                    <div class="add-contact-headlines-box">
                        <span id="add-contact">Edit Contact</span>
                    </div>
                </div>
            </div>
            <div class="edit-contacts-popup-right">
                <img class="close-popup" onclick="closeEditContact()" src="./img/close.png" alt="">
                <div class="contacts-popup-right-content">
                    <div id="initials-circle" class="initials-big mt-100negative">
                    </div>
                    <form class="add-contact-form-container-2" onsubmit="createNewContact(); return false">
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-firstname" placeholder="Firstname"
                                type="text">
                            <img class="input-icon" src="./img/human-profile.png" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-lastname" placeholder="Lastname"
                                type="text">
                            <img class="input-icon" src="./img/human-profile.png" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-mail" placeholder="Email" type="email">
                            <img class="input-icon" src="./img/mail-icon.png" id="mail-icon" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-phone" placeholder="Phone" type="number">
                            <img class="input-icon" src="./img/phone-icon.png" alt="">
                        </div>
                        <div class="add-btn-container">
                            <div onclick="deleteContactByFirstname(firstname); deleteAssignedContactsAfterRemove()"
                                class="cancel-btn">Delete <img src="" alt=""></div>
                            <button onclick="changeFirstname()" id="save-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-list-scrollable-div">
        <div id="contact-list" class="contacts-list flex-column ">

        </div>
    </div>
    <div id="contact-card" class="contact-card flex-column ">
        <img id="close-X" onclick="closeContactCard()" class="close-X" src="./img/close.png" alt="">
        <div class="edit-and-delete-box-2 d-none" id="edit-delete-box">
            <img class="delete-btn" id="delete-btn-2" src="./img/delete.png"
                onclick="deleteContactByFirstname(firstname); deleteAssignedContactsAfterRemove()">
            <img class="edit-btn" id="edit-btn-2" src="./img/pencil_white.png" onclick="openEditContact(ID)">
        </div>
        <div class="contacts-headline">
            <h2 class="summary-headline">Contacts</h2>
            <div class="vertical-line">

            </div>
            <span id="headline-span" style="font-size: 27px;">
                Better with a team
            </span>
        </div>
        <div class="flex-column">
            <div id="card-popup" class="card-popup flex-column">
            </div>
        </div>
    </div>
    <div onclick="openCreateContact()" id="Create-Contact" class="add-contact">New Contact <img src="./img/Capa 1.png"
            alt=""></div>
</div>