<div class="contacts-content">
    <div class="create-contact-bg d-none" id="create-contact-bg">
        <div id="contacts-popup" class="contacts-popup">
            <div class="contacts-popup-left">
                <div class="flex-column add-contact-span">
                    <img src="./img/join-for-add-contacts.png" alt="">
                    <span id="add-contact">Add Contact</span>
                    <span>Tasks are better with a team!</span>
                </div>
            </div>
            <div class="contacts-popup-right">
                <img class="close-popup" onclick="closeCreateContact()" src="./img/close.png" alt="">
                <div class="add-contact-img">
                    <img src="./img/profile.png" alt="">
                </div>
                <form class="add-contact-form-container" onsubmit="createNewContact(); return false">
                    <div style="position: relative;">
                        <input required class="add-contact-form" id="contacts-firstname" placeholder="Firstname"
                            type="text">
                        <img class="input-icon" src="./img/human-profile.png" alt="">
                    </div>
                    <div style="position: relative;">
                        <input required class="add-contact-form" id="contacts-lastname" placeholder="Lastname"
                            type="text">
                        <img class="input-icon" src="./img/human-profile.png" alt="">
                    </div>
                    <div style="position: relative;">
                        <input required class="add-contact-form" id="contacts-mail" placeholder="Email" type="email">
                        <img class="input-icon" src="./img/mail-icon.png" id="mail-icon" alt="">
                    </div>
                    <div style="position: relative;">
                        <input required class="add-contact-form" id="contacts-phone" placeholder="Phone" type="number">
                        <img class="input-icon" src="./img/phone-icon.png" alt="">
                    </div>
                    <div class="add-btn-container">
                        <div onclick="closeCreateContact()" class="cancel-btn">Cancel <img src="" alt=""></div>
                        <button id="create-btn">Create Contact <img src="" alt=""></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="edit-contact-bg d-none" id="edit-contact-bg">
        <div class="contacts-popup" id="edit-contact-popup">
            <div class="contacts-popup-left">
                <div class="flex-column" style="align-items: flex-start; gap: 12px; font-size: 27px;color: white;">
                    <img src="./img/join-for-add-contacts.png" alt="">
                    <span id="add-contact">Edit Contact</span>
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div class="edit-contacts-popup-right">
                <img class="close-popup" onclick="closeEditContact()" src="./img/close.png" alt="">
                <div class="contacts-popup-right-content">
                    <div id="initials-circle" class="initials-big">

                    </div>
                    <form class="add-contact-form-container" onsubmit="createNewContact(); return false">
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-firstname" placeholder="Firstname"
                                type="text">
                            <img class="input-icon" src="./img/human-profile.png" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-lastname" placeholder="Lastname"
                                type="text">
                            <img class="input-icon" src="./img/human-profile.png" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-mail" placeholder="Email" type="email">
                            <img class="input-icon" src="./img/mail-icon.png" id="mail-icon" alt="">
                        </div>
                        <div style="position: relative;">
                            <input required class="add-contact-form" id="edit-phone" placeholder="Phone" type="number">
                            <img class="input-icon" src="./img/phone-icon.png" alt="">
                        </div>

                    </form>
                </div>
                <div class="add-btn-container">
                    <div onclick="deleteContactByFirstname(firstname)" class="cancel-btn"
                        style="display: flex; align-items: center; height: 50px;">Delete <img src="" alt=""></div>
                    <button onclick="changeFirstname()" id="save-btn">Save</button>
                </div>
            </div>
        </div>

    </div>
    <div class="contact-list-scrollable-div">
        <div id="contact-list" class="contacts-list flex-column ">

        </div>
    </div>

    <div id="contact-card" class="contact-card flex-column ">
        <img id="close-X" onclick="closeContactCard()" class="close-X" src="./img/close.png" alt="">
        <div class="edit-and-delete-box-2" id="edit-delete-box">
            <img class="delete-btn" id="delete-btn-2" src="./img/delete.png" onclick="deleteContactByFirstname(firstname)">
            <img class="edit-btn" id="edit-btn-2" src="./img/pencil_white.png" onclick="openEditContact(ID)">
        </div>
        <div class="contacts-headline">
            <span class="summary-headline">
                Contacts
            </span>
            <div class="vertical-line">

            </div>
            <span id="headline-span" style="font-size: 27px;">
                Better with a team
            </span>
        </div>
        <div class="flex-column">
            <div id="card-popup" id="contacts-box-info" class="flex-column">
            </div>
        </div>
        
        <div id="created-successfully-logo" class="created-successfully-logo d-none">Contact Successfully Created</div>
    </div>
    <div onclick="openCreateContact()" id="Create-Contact" class="add-contact">New Contact <img src="./img/Capa 1.png" alt=""></div>
</div>