<div class="header-content">
    <img class="LogoImageHeader d-none pointer" src="./img/Logo.svg" alt="Logo-Join" onclick="showMainpage()">
    <div class="spanHeader">Kanban Project Management Tool</div>
    <div class="profileImageHeader">
        <img class="headerHelp pointer" src="./img/questionLogo.svg" alt="You need a Help?" onclick="changeSite(HELP_ID)">
        <div class="profilePictureContainer pointer">
            <img class="ChristinaProfileImage" src="./img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpeg"
                alt="Christina" onclick="showLogoutPopup()">
            <a href="../templates/login.html"><button id="logoutPopup" class="logoutBtn pointer d-none" onclick="stopPropagation(event)">Log Out</button></a>
        </div>
    </div>
    <div class="overlay d-none" id="overlay" onclick="closeLogoutPopup()"></div>
</div>