<div class="p-relative">
    <h2>Help</h2>
    <img src="./img/back_arrow.png" class="back-arrow-abs" onclick="changeSite(previousPage); addBackgroundColorForMainPages(previousBackground)">
    <h3>What is Join?</h3>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates officiis, a, ab earum ex placeat
        inventore error expedita enim tenetur. Iure accusantium saepe aspernatur quo maxime accusamus labore
        officiis.</span>
    <h3>How to use it</h3>
    <div class="help-steps-box">
        <h3>1.</h3>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam harum, iure, modi eligendi et quam quo
            porro aperiam, dolorum commodi sunt? Nobis in amet iusto. Laudantium modi quia quibusdam libero.</span>
    </div>
    <div class="help-steps-box">
        <h3>2.</h3>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam harum, iure, modi eligendi et quam quo
            porro aperiam, dolorum commodi sunt? Nobis in amet iusto. Laudantium modi quia quibusdam libero.</span>
    </div>
    <div class="help-steps-box">
        <h3>3.</h3>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam harum, iure, modi eligendi et quam quo
            porro aperiam, dolorum commodi sunt? Nobis in amet iusto. Laudantium modi quia quibusdam libero.</span>
    </div>
</div>