<div class="summary-content">
    <div class="spanMainpage d-none">Kanban Project Management Tool</div>
    <div class="headline-summary">
        <Span class="summary-headline">Summary</Span>
        <div class="vertical-line"></div>
        <span id="nutshell-text" style="font-size: 27px;">Everything in a nutshell!</span>
        <div class="line d-none"></div>
    </div>
    <div class="task-container">
        <div class="tasks">
            <div class="first-row">
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span id="allTasksNr" class="tasks-in-board-nr">0</span>
                    <div class="single-task-description">Tasks in <br> Board</div>
                </div>
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span id="progressTasksNr" class="tasks-in-board-nr">0</span>
                    <div class="single-task-description">Tasks in <br> Progress</div>
                </div>
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span id="waitingTasksNr" class="tasks-in-board-nr">0</span>
                    <div class="single-task-description">Awaiting<br>feedback</div>
                </div>
            </div>
            <div class="second-row" onclick="changeSite(BOARD_ID)">
                <div class="urgent-nr">
                    <img src="img/Group 7.png" alt="">
                    <div class="flex-column">
                        <span id="urgentTasksNr" style="font-size: 47px; text-align: center;"><b>0</b></span>Urgent
                    </div>
                </div>
                <div class="vertical-line-2"></div>
                <div class="second-row-right">
                    <b id="date"></b>
                    <span>Upcoming Deadline</span>
                </div>
            </div>

            <div class="third-row">
                <div class="to-do-status">
                    <img src="img/to-do.png" alt="">
                    <div class="flex-column" id="To-Do" style="font-weight: 500; font-size: 21px;">
                        <span id="toDoTasksNr" style="font-size: 64px; text-align: center;"><b>0</b></span>To-Do
                    </div>
                </div>
                <div class="to-do-status" onclick="changeSite(BOARD_ID)">
                    <img src="img/done.png" alt="">
                    <div class="flex-column" id="done-span" style="font-weight: 500; font-size: 21px;">
                        <span id="doneTasksNr" style="font-size: 64px; text-align: center;"><b>0</b></span>Done
                    </div>
                </div>
            </div>
        </div>
        <div class="greeting">
            <span id="greeting"></span><span id="" class="name"> Dear Guest</span>
        </div>
    </div>

</div>