<div class="summary-content">
    <div class="headline-summary">
        <Span class="summary-headline">Summary</Span>
        <div class="vertical-line"></div>
        <span style="font-size: 27px;">Everything in a nutshell!</span>
    </div>
    <div class="task-container">
        <div class="tasks">
            <div class="first-row">
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span class="tasks-in-board-nr">5</span>
                    <div class="single-task-description">Tasks in <br> Board</div>
                </div>
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span class="tasks-in-board-nr">2</span>
                    <div class="single-task-description">Tasks in <br> Progress</div>
                </div>
                <div class="single-task" onclick="changeSite(BOARD_ID)">
                    <span class="tasks-in-board-nr">2</span>
                    <div class="single-task-description">Awaiting<br>feedback</div>
                </div>
            </div>
            <div class="second-row" onclick="changeSite(BOARD_ID)">
                <div class="d-flex">
                    <img src="img/Group 7.png" alt="">
                    <div class="flex-column">
                        <span style="font-size: 47px; text-align: center;"><b>1</b></span>Urgent
                    </div>
                </div>
                <div class="vertical-line-2"></div>
                <div class="second-row-right">
                    <b id="date"></b>
                    <span>Upcoming Deadline</span>
                </div>
            </div>

            <div class="third-row">
                <div class="to-do-status">
                    <img src="img/to-do.png" alt="">
                    <div class="flex-column" style="font-weight: 500; font-size: 21px;">
                        <span style="font-size: 64px; text-align: center;"><b>1</b></span>To-Do
                    </div>
                </div>
                <div class="to-do-status" onclick="changeSite(BOARD_ID)">
                    <img src="img/done.png" alt="">
                    <div class="flex-column" style="font-weight: 500; font-size: 21px;">
                        <span style="font-size: 64px; text-align: center;"><b>1</b></span>Done
                    </div>
                </div>
            </div>
        </div>
        <div class="greeting">
            <span id="greeting" style="font-weight: 600;font-size: 53px;"></span><span class="name">Sofia
                Müller</span>
        </div>
    </div>

</div>